<template name="sprint">
  <h1>Sprint #1</h1>
  <ul class="sprint">
    {{#each users}}
      <li class="sprint-box">
        <div class="sprint-box-top">
          {{profile.name}}
        </div>
        <div class="sprint-box-tasks">
          {{#each userTasks}}
            {{>task}}
          {{/each}}
        </div>
      </li>
    {{/each}}
    <li class="clear"></li>
  <ul>
  {{#modal 'taskForm'}}
    {{{modalHeader 'New Story'}}}
      {{#modalContent}}
        {{>taskForm}}
      {{/modalContent}}
  {{/modal}}
</template>
