.component {
  width: 300px;
  padding: 10px;
  background: #fff;
}

.component-top {
  text-align: center;
  font-weight: bold;
  padding-bottom: 4px;
}

.component-stories {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
