<template name="planning">
  <h1>Planning {{project.name}} ({{project.velocity}})
  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#componentForm">New Component</button>
  <button class="btn" data-toggle="modal" data-target="#storyForm" id="storyFormButton">New Story</button>
  <button class="btn" data-toggle="modal" id="newSprint">New Sprint</button>
  </h1>

  {{#each sprints}}
    <div class="sprint">
      <div class="sprintLine">Sprint #{{iterator}}</div>
      <ul class="planning" data-sprint-id="{{_id}}">
        {{#each components}}
          <li class="planning-component">{{>component}}</li>
        {{/each}}
        <li class="clear"></li>
      </ul>
    </div>
  {{/each}}

  {{>storyForm}}
  {{>componentForm}}
</template>


